<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SMile_Contact::ContactRequests"
             title="Contact requests"
             module="SMile_Contact"
             sortOrder="70"
             parent="Magento_Customer::customer"
             action="smile_contact/contactRequest"
             resource="SMile_Contact::contactRequests"/>
    </menu>
</config>
